.ContenedorPortada{
    display: flex;
    background-image: url('./../../assets/imgC/FondoWebb.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 620px;
    
}

.ContenedorTexto{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(231, 232, 145, 0.451);
    color: black;
    border-radius: 5px;
    margin-left: 10px;
    border: solid black;
    padding: 10px;
    width: 600px;
}

.ContenedorImagen{
    width: 700px;
    height: 10px;
    margin-left: 350px;
    margin-top: 40px;
}

.ContenedorCarta{
    padding-left: 60px;
    text-align: center;
}

.Carta{
    background-color: rgba(231, 232, 145, 0.451);
    color: black;
    border-radius: 5px;
    margin-left: 10px;
    border: solid black;
    padding: 10px;
    padding-left: 10px;
    width: 400px;
}

#Cartacabezera{
    color: black;
}

