<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hercules y los 12 Trabajos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hercules y los 12 Trabajos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ContenedorPortada">
    <div class="ContenedorDescripcion">
      <div class="ContenedorTexto">
         <p>Hercules (o tambien conocdio como Heracles) es considerado como <br> uno de los personajes mas conocidos 
          de la mitologia griega por todas <br> las hazañas contadas en su historia.
          En esta sitio web, vamos a repasar <br> los distintos trabajos que le han sido encargados
          por Euristeo, 12 misiones <br> que lo pondrán a prueba  para remediarse de su locura,
          misma con la que <br> acabó con la vida de su esposa Mégara y de sus hijos.
          </p>
      </div>
      <div class="ContenedorCarta">
        <ion-card class="Carta">
          <ion-title id="Cartatitulo">
            Descripcion Breve de Heracles
          </ion-title>
          <ion-card-content id="Cartacontenido">
              <p>Heracles es el héroe más célebre de la mitología griega, 
              famoso por su fuerza sobrehumana, su valor inquebrantable 
              y su espíritu indomable. Hijo de Zeus y la mortal Alcmena, 
              superó constantes persecuciones divinas y realizó hazañas 
              legendarias, entre las que destacan los doce trabajos, para 
              ganarse la inmortalidad y un lugar en el Olimpo.</p>
              <div style="display: flex;">
                <div style="margin-top: 50px;">
                  <ion-button style="--background: rgb(230, 177, 71); --color: rgb(5, 5, 5);">
                WikiPedia Oficial
                  </ion-button>
                </div>
                <div class="ContenedorImagenCarta">
                  <ion-img src="./../../assets/imgC/HerculesCarta.png"></ion-img>
                </div>
              </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <div class="ContenedorImagen">
      <img src="./../../assets/imgC/Hercules.png" alt="Hercules">
    </div>
  </div>
</ion-content>
