.ContenedorPortada{
    display: flex;
}

.ContenedorDescripcion{


}
.ContenedorTitulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ContenedorTexto{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.ContenedorImagen{
    width: 600px;
    height: 100px;
}

