<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hercules y los 12 Trabajos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hercules y los 12 Trabajos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ContenedorPortada">
    <div class="ContenedorDescripcion">
      <div class="ContenedorTitulo">
        <h1 id="Titulo">Descripción:</h1>
      </div>
      <div class="ContenedorTexto">
         <p>Hercules es considerado como uno de los personajes mas conocidos 
          de la mitologia griega por todas <br> las hazañas contadas en su historia.
          En esta sitio web, vamos a repasar los distintos trabajos que le han sido <br> encargados
          por Euristeo, 12 misiones que lo pondrán a prueba para remediarse de su locura,
          misma con la que <br> acabó con la vida de su esposa Mégara y de sus hijos.
          </p>
      </div>
      <I
    </div>
    <div class="ContenedorImagen">
      <img src="./../../assets/Hercules.png" alt="Hercules">
    </div>
  </div>
</ion-content>
