<ion-header [translucent]="true" style="background-color: #1e1e30;;">
  <ion-toolbar>
    <ion-title>
      Personajes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Personajes</ion-title>
    </ion-toolbar>
  </ion-header>
<div class="ContenedorPortada">
  @for (personaje of personajes; track $index) {
    <ion-card class="carousel">
      <div>
        <ion-img [src]="personaje.ruta"></ion-img>
      </div>
      <div class="contendorTexto">
      <ion-card-header>
        <ion-card-subtitle>Personaje de los 12 Trabajos</ion-card-subtitle>
      </ion-card-header>
      <ion-card-title>{{ personaje.nombre }}</ion-card-title>
      <ion-card-content>
        <p>{{ personaje.descripcion }}</p>
      </ion-card-content>
      </div>
    </ion-card>
  }
</div>

</ion-content>
