.ContenedorPortada{
    display: flex;
    background-image: url('./../../assets/img/FondoWebb.png');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.contenedor_lista{

    width: 70%;
    border-radius: 30px;
    background-color: rgb(172, 118, 64);
    padding: 10px;
}
.lista{
    border-radius: 20px;
    background: rgb(54, 40, 25,0.9);
}
ion-list-header{
    --background: transparent;
    align-items: center;
    justify-content: center;
}

ion-item {
    --background: transparent;
}

ion-label {
    --background: transparent;
}