<ion-header [translucent]="true" style="background-color: #1e1e30">
  <ion-toolbar>
    <ion-title>Las 12 Tareas de Hercules </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ContenedorPortada">
    <div class="contenedor_lista">
      <ion-list class="lista">
        <ion-list-header>
          <h1>Lista de las Tareas</h1>
        </ion-list-header>
        @for (trabajo of trabajos; track $index) {
        <ion-item>
          <ion-label>
            <h2>{{trabajo[0]}} {{trabajo[1]}}</h2>
            <p>{{trabajo[2]}}</p></ion-label
          >
        </ion-item>
        }
      </ion-list>
      <ion-button (click)="irDetalles()" style="--background: rgb(230, 177, 71); --color: rgb(5, 5, 5);"> Detalles </ion-button>
    </div>
    
  </div>
</ion-content>
