.ContenedorPortada{
    display: flex;
    background-image: url('./../../assets/img/FondoWebb.png');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.contenedor_lista{

    width: 70%;
    border-radius: 10px;
    background-color: rgba(123, 84, 46,0.8);
    padding: 20px;
}
.lista{
    border-radius: 20px;
    background: #362819;
}
ion-list-header{
    --background: transparent;
    align-items: center;
    justify-content: center;
}

ion-item {
    --background: transparent;
}

ion-label {
    --background: transparent;
}