<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 2 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ContenedorPortada">
    <div class="contenedor_lista">
      <ion-list class="lista">
        <ion-list-header>
          <h2>Lista de las Tareas</h2>
        </ion-list-header>
        @for (trabajo of trabajos; track $index) {
        <ion-item>
          <ion-label>
            <h3>{{trabajo[0]}}</h3>
            <p>{{trabajo[1]}}</p></ion-label
          >
        </ion-item>
        }
      </ion-list>
    </div>
  </div>
</ion-content>
